In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBClassifier
%matplotlib inline

In [2]:
train=pd.read_csv("../train.csv")

In [3]:
train.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [4]:
train.drop(train.columns[[0]], axis=1, inplace=True)

In [5]:
train.Mode_of_Shipment[train.Mode_of_Shipment == 'Flight'] = 1
train.Mode_of_Shipment[train.Mode_of_Shipment == 'Ship'] = 2
train.Mode_of_Shipment[train.Mode_of_Shipment == 'Road'] = 3

C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
train.Product_importance[train.Product_importance == 'high'] = 1
train.Product_importance[train.Product_importance== 'low'] = 2
train.Product_importance[train.Product_importance == 'medium'] = 3

C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
train.Gender[train.Gender == 'F'] = 1
train.Gender[train.Gender== 'M'] = 2

C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
train.Warehouse_block[train.Warehouse_block == 'A'] = 1
train.Warehouse_block[train.Warehouse_block== 'B'] = 2
train.Warehouse_block[train.Warehouse_block == 'C'] = 3
train.Warehouse_block[train.Warehouse_block== 'D'] = 4
train.Warehouse_block[train.Warehouse_block== 'F'] = 5
print(train)

      Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
0                   4                1                    4                2
1                   5                1                    4                5
2                   1                1                    2                2
3                   2                1                    3                3
4                   3                1                    2                2
5                   5                1                    3                1
6                   4                1                    3                4
7                   5                1                    4                1
8                   1                1                    3                4
9                   2                1                    3                2
10                  3                1                    3                4
11                  5                1                    4                5
12                  4                1                    3                5
13                  5                1                    4                4
14                  1                1                    4                3
15                  2                1                    4                3
16                  3                1                    3                4
17                  5                2                    5                5
18                  4                2                    5                5
19                  5                2                    4                5
20                  1                2                    3                3
21                  2                2                    3                1
22                  3                2                    2                5
23                  5                2                    4                3
24                  4                2                    4                5
25                  5                2                    3                1
26                  1                2                    4                1
27                  2                2                    5                1
28                  3                2                    2                3
29                  5                2                    5                4
...               ...              ...                  ...              ...
10969               5                1                    5                2
10970               1                1                    4                4
10971               2                1                    5                5
10972               3                1                    4                1
10973               5                1                    5                2
10974               4                1                    5                2
10975               5                1                    5                2
10976               1                1                    3                2
10977               2                2                    5                4
10978               3                2                    4                1
10979               5                2                    4                2
10980               4                2                    4                4
10981               5                2                    5                2
10982               1                2                    5                1
10983               2                2                    4                3
10984               3                2                    5                1
10985               5                2                    5                1
10986               4                2                    4                5
10987               5                2                    5                3
10988               1                2                    4                3
10989               2                2                    5                1
10990               3                2                    5                4
10991               5                2                    5                2
10992               4                2                    5                1
10993               5                2                    5                1
10994               1                2                    4                1
10995               2                2                    4                1
10996               3                2                    5                4
10997               5                2                    5                2
10998               4                2                    2                5

       Cost_of_the_Product  Prior_purchases Product_importance Gender  \
0                      177                3                  2      1
1                      216                2                  2      2
2                      183                4                  2      2
3                      176                4                  3      2
4                      184                3                  3      1
5                      162                3                  3      1
6                      250                3                  2      1
7                      233                2                  2      1
8                      150                3                  2      1
9                      164                3                  3      1
10                     189                2                  3      2
11                     232                3                  3      1
12                     198                3                  3      1
13                     275                3                  1      2
14                     152                3                  2      2
15                     227                3                  2      1
16                     143                2                  3      1
17                     227                3                  3      2
18                     239                3                  1      2
19                     145                3                  3      2
20                     161                2                  3      1
21                     232                4                  3      1
22                     156                2                  2      2
23                     211                3                  1      2
24                     251                2                  3      1
25                     225                4                  2      2
26                     172                3                  1      1
27                     162                3                  3      2
28                     234                4                  2      2
29                     183                2                  2      1
...                    ...              ...                ...    ...
10969                  234                5                  3      2
10970                  216                6                  2      2
10971                  221                5                  2      2
10972                  249                5                  2      1
10973                  240                5                  2      1
10974                  219                5                  2      1
10975                  219                5                  2      2
10976                  278                4                  3      2
10977                  232                5                  3      1
10978                  253                5                  2      1
10979                  253                5                  2      1
10980                  261                5                  2      1
10981                  251                6                  2      2
10982                  275                5                  2      2
10983                  229                6                  3      2
10984                  257                5                  3      2
10985                  229                5                  2      1
10986                  255                5                  3      2
10987                  242                5                  2      1
10988                  192                4                  2      1
10989                  218                5                  3      1
10990                  219                6                  2      2
10991                  261                5                  3      2
10992                  236                5                  3      2
10993                  257                6                  2      1
10994                  252                5                  3      1
10995                  232                5                  3      1
10996                  242                5                  2      1
10997                  223                6                  3      2
10998                  155                5                  2      1

       Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0                    44           1233                    1
1                    59           3088                    1
2                    48           3374                    1
3                    10           1177                    1
4                    46           2484                    1
5                    12           1417                    1
6                     3           2371                    1
7                    48           2804                    1
8                    11           1861                    1
9                    29           1187                    1
10                   12           2888                    1
11                   32           3253                    1
12                    1           3667                    1
13                   29           2602                    1
14                   43           1009                    1
15                   45           2707                    1
16                    6           1194                    1
17                   36           3952                    1
18                   18           2495                    1
19                   45           1059                    1
20                   38           1521                    1
21                   51           2899                    1
22                    2           1750                    1
23                   12           3922                    1
24                   28           3561                    1
25                   29           3496                    1
26                   24           1066                    1
27                   31           1435                    1
28                   44           3134                    1
29                   36           3819                    1
...                 ...            ...                  ...
10969                 7           1524                    0
10970                 5           1272                    0
10971                 8           1718                    0
10972                10           1762                    1
10973                 7           1923                    0
10974                 9           1505                    0
10975                10           1276                    0
10976                 9           1631                    0
10977                 4           1561                    0
10978                 2           1362                    0
10979                 3           1086                    1
10980                 4           1649                    1
10981                10           1196                    0
10982                 7           1623                    1
10983                 1           1235                    1
10984                 1           1102                    1
10985                10           1040                    1
10986                 5           1458                    1
10987                10           1846                    1
10988                 2           1830                    0
10989                 9           1603                    0
10990                 3           1098                    0
10991                 9           1227                    1
10992                 3           1906                    0
10993                 1           1150                    0
10994                 1           1538                    1
10995                 6           1247                    0
10996                 4           1155                    0
10997                 2           1210                    0
10998                 6           1639                    0

[10999 rows x 11 columns]

C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\aspire 3\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [9]:
train["Mode_of_Shipment"]= train["Mode_of_Shipment"].astype(int) 
train["Product_importance"]= train["Product_importance"].astype(int) 
train["Gender"]= train["Gender"].astype(int) 
train["Warehouse_block"]= train["Warehouse_block"].astype(int)

In [10]:
X=train.drop('Reached.on.Time_Y.N',axis=1)
Y=train['Reached.on.Time_Y.N']

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30)

In [12]:
xgmodel=XGBClassifier()
xgmodel.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [13]:
y_pred=xgmodel.predict(X_test)

C:\Users\aspire 3\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [14]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred.round(),normalize=True))

0.6778787878787879

In [15]:
from sklearn.feature_selection import RFE
rfe = RFE(xgmodel, 6)
#Transforming data using RFE
X_rfe = rfe.fit_transform(X,Y)  
#Fitting the data to model
xgmodel.fit(X_rfe,Y)
print(rfe.support_)
print(rfe.ranking_)

[False  True  True False  True  True False False  True  True]
[5 1 1 2 1 1 3 4 1 1]

In [16]:
train.head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,4,1,4,2,177,3,2,1,44,1233,1
1,5,1,4,5,216,2,2,2,59,3088,1
2,1,1,2,2,183,4,2,2,48,3374,1
3,2,1,3,3,176,4,3,2,10,1177,1
4,3,1,2,2,184,3,3,1,46,2484,1

In [17]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import MinMaxScaler
#X_norm = MinMaxScaler().fit_transform(X)
X_new = SelectKBest(chi2, k=6).fit_transform(X, Y)
X_new

array([[   4,    2,  177,    3,   44, 1233],
       [   4,    5,  216,    2,   59, 3088],
       [   2,    2,  183,    4,   48, 3374],
       ...,
       [   5,    4,  242,    5,    4, 1155],
       [   5,    2,  223,    6,    2, 1210],
       [   2,    5,  155,    5,    6, 1639]], dtype=int64)

In [18]:
X=X_new
Y=train['Reached.on.Time_Y.N']

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30)

In [20]:
xgmodel2=XGBClassifier()
xgmodel2.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [21]:
y_pred=xgmodel2.predict(X_test)

C:\Users\aspire 3\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [22]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred.round(),normalize=True))

0.686060606060606